{% extends 'adminBase.html.twig' %}

{% block mainPanel %}

    <div class="col-lg-12">
        <h4>Hello {{ userName }}! Welcome to the Experiment Dispatcher</h4>
        <p>
            Welcome to the Experiment Dispatcher administration interface. The Experiment Dispatcher is a platform designed to deliver services to online laboratory developers in a <em>"lab infrastructure as a service paradigm"</em>.
            It provides APIs to connect with Remote Laboratory Management Systems (RLMS), like the <a target="_blank" href="https://wikis.mit.edu/confluence/display/ILAB2/iLab+Downloads">iLab Shared Architecture</a> and to convey messages to experiment engines.
        </p>
    </div>

{% endblock %}